<div class=post-content>
  <strong>Title: </strong>
  <%= @post.title %><br><br>
  
  <strong>Content: </strong>
  <%= @post.content %><br><br>

  <strong>Category:</strong>
    <ul>
      <% @post.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>    
</div>
